$boxBorder: solid 2px #010;
.title {
    text-align: center;
    border-bottom: $boxBorder;
    border-left: $boxBorder;
    border-right: $boxBorder;

}

#game-area {
    margin: 0 auto;
    width: 1080px;
    .selected {
   	background: grey; 
    }
    .player-box {
        // width: 30%;
        height: 400px;
        display: inline-block;
        border: $boxBorder;
        .answer-choice {
	    display: block;
            width: 75px;
            height: 75px;
            margin: 15px 0;
        }
    }
}
